<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Eclipse Dance &amp; Performing Arts</title>
<style type="text/css">
body {
	background-image: url(/images/WEBSITE%20BACKDROP.jpg);
	background-color: #D6D6D6;
}
body,td,th {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FFF;
}
a:link {
	color: #FFF;
}
a:visited {
	color: #9FC;
}

#eventlist {
    padding-top: 40em;
    text-align: center;
}
    .grid-container {
        display: grid;
        text-align: center;
        grid-template-columns: auto;
        grid-gap: 50px 100px;
    }
    .grid-item {
        text-align: center;
    }
</style>
</head>

<body background="/images/WEBSITE BACKDROP.jpg" align="left" valign="middle>
    <h1>Eclipse Dance &amp; Performing Arts Events </h1>
    <div class="grid-container">
        <div class="grid-item">
            <h1>&nbsp;</h1>
            <h1>Enrolment Open Days    </h1>
            <p> 12th December 2020 9.00am - 12.00pm </p>
            <p>Friday 8th January 2021  3pm - 6pm </p>
            <p>&amp; 30th January 2021 10.00am - 1.00pm</p>
        </div>
        <div class="grid-item">
            <h2>&nbsp;</h2>
            <h2>Mid Year Fundraiser </h2>
            Saturday 26th June 2021
        </div>
        <div class="grid-item">
            <p>&nbsp;</p>
            <h2>ECLIPSE DANCE END OF YEAR CONCERT </h2>
            <h2>27TH NOVEMBER 2021</h2>
            <p>At NEWMAN COLLEGE - (to be confirmed) </p>
        </div>
    </div>
</body>
</html>

