<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Eclipse Dance &amp; Performing Arts</title>
<style type="text/css">
body {
	background-image: url(/images/WEBSITE%20BACKDROP.jpg);
	background-color: #D6D6D6;
}
body,td,th {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FFF;
}
a:link {
	color: #FFF;
}
a:visited {
	color: #9FC;
}

#maintable {
        padding-top: 10em;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        padding-top: 5em;
        padding: 10em;
    }
    
    #padimageforcolumngap{
padding-right:2em;
padding-top: 1em
    }
</style>
</head>

<body>
    <div class="grid-container">
        <div class="grid-item">
            <img id="padimageforcolumngap" src="/images/kirstybufton.jpe" width="200" height="200"/>
        </div>
        <div class="grid-item">
            <h4><strong></strong><em>Director / Choreographer </em></h4>
            <h5><em>Vocal &amp; Dance, Jazz, Hip Hop,  Tap, Ballet, Contemporary, Musical Theatre, Lyrical, Acrobatics,  Elite Teams, Solos,  Duos, Trios.  </em></h5>
            <p>
                <strong> Kirsty  was trained in gymnastics from the age of 5 and accepted into the Western  Australian Institute of Sport at the age of 7, competing National and State  competitions. </strong><br />
                <strong>          </strong><br />
                <strong> After  successfully ranking first in her state championships in gymnastics at the age  of 13,  she started dancing and singing  training professionally in both whilst still doing gymnastics. </strong>
            </p>
            <p><strong>Kirsty  has performed in Troupes at competitions genres include Jazz, Hiphop, Tap,  Lyrical, Contemporary, Acrobatics and in song and dance groups.</strong></p>
            <p><strong> Kirsty&rsquo;s  career saw her  performing at fairs, festivals, telethon, clubs and pubs  and corporate events. She has attended many workshops in Perth and also at  Brent Street in Sydney.</strong></p>
            <p><strong>Kirsty  became a senior instructor at the age of 15 teaching dancing,  vocal  technique classes and private lessons. She is a gifted choreographer in  acrobatic routines which saw her students compete at state  and national competitions  placing in the top 3 for Balance, Dynamic and Tempo routines.</strong></p>
            <p><strong>Kirsty  specialises in, Gymnastics, Jazz, Acrobatics, Tap, Singing &amp; Cheer-dance  and more. She is passionate about everything she does and has a creative  outlook to her dancing and singing.</strong></p>
            <p><strong> Kirsty&rsquo;s  goals are to develop and help children who share the same passion for dance and  performing that she does and build them in to the best dancers they can be.</strong></p>
            <p><strong>In  January 2015, Kirsty founded and opened her doors at Eclipse Dance &amp;  Performing Arts  to build a dance school  where children through to adults can have fun and enjoy themselves while  developing their skill, technique,  and passion for our incredible sport.</strong></p>
            <p>
                <strong>&ldquo;I love  what i do, seeing the fun and joy on all our students faces is why i do what i  do.  We get to see and be a part of the  childrens growth through their stages of dance to become incredible athletes  and performers.</strong><br />
                <strong>                                        </strong>
            </p>
        </div>
        <div class="grid-item">
            <p>Senior Instructors for 2021</p>
        </div>
        <div class="grid-item">
            <p><em>Cheyenne Davies -  Jazz, Lyrical &amp; Contemporary, Hip Hop &amp; Elite Choreography</em> </p>
            <p><em>Mani Mae Gomes - Ballet</em></p>
            <p><em>Jaimie Robson - Jazz &amp; Elite Choreography</em></p>
            <p><em>Keziah Erispe - Hip Hop</stron> &amp; Elite Choreography </em></p>
            <p><em>Natalia Menna -  Acrobatics</em></p>
            <p><em>Ruby Thoms - Tap </em></p>
            <p><em>Paris Matthews - Elite Choreography &amp; Development Program</em></p>
            <p><em>Tahlia May - Acrobatics, Tap, Jazz, </em><em> HipHop</em> &amp; Elite Choreography </p>
        </div>
        <div class="grid-item">
            <p>Assistant Instructors for 2021</p>
        </div>
        <div class="grid-item">
            <p> Ashlyn Logan, Felicity Abel,  Taylor Nowell, Taniqua Bufton, Darcey Warburton &amp; Danica Szkiela </p>
        </div>
    </div>
</body>
</html>

