<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Eclipse Dance &amp; Performing Arts</title>
<style type="text/css">
body {
	background-image: url(/images/WEBSITE%20BACKDROP.jpg);
	background-color: #D6D6D6;
}
body,td,th {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FFF;
}
a:link {
	color: #FFF;
}
a:visited {
	color: #9FC;
}
    .grid-container {
        display: grid;
        text-align: center;
        grid-template-columns: auto;
        padding-top:5em;
    }

    .grid-item {
        text-align: center;
    }
</style>
</head>

<body>
<div class="grid-container">
 
    <div class="grid-item">
      <h2>Click on the below links for printable forms</h2>
      <h2>For a copy of our Information Pack, please <a href="Contact Us.html">contact us.</a></h2>
      <h2>&nbsp;</h2>
      <h2><strong>FORMS </strong></h2>
      <h2><a href="../../../2021 ENROLMENT FORM.pdf">2021 Enrolment Forms </a></h2>
      <h2>TERM 1 - TIMETABLE</h2>
      <p>(Monday - 1st February - Thursday - 1st April 2021) </p>
      <p>&nbsp;</p>
      <h2><a href="../../../ECLIPSE DANCE &amp; PERFORMING ARTS - FEE SCHEDULE mainstream.jpg">2021 FEE SCHEDULE</a><a href="../../../FEE SCHEDULE 2020.pdf"></a><a href="TERMFEES 2019.pdf"></a></h2>
      <h2> FOR  SOLO, DUO &amp; TRIO REQUEST FORMS PLEASE <a href="ContactUs">CONTACT US</a></h2>
      <h2><a href="http://www.eclipsedance.com.au/Contact%20Us.html"> </a></h2>
      <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>U2, 9 Abaya Street Jandakot WA </p>
    <p>9414 7794 or 0477 55 66 47</p></td>
  </div>
</div>
</body>
</html>

