<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Eclipse Dance &amp; Performing Arts</title>
<style type="text/css">
body {
	background-image: url(WEBSITE%20BACKDROP.jpg);
	background-color: #D6D6D6;
}
body,td,th {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FFF;
}
a:link {
	color: #FFF;
}
a:visited {
	color: #9FC;
}
</style>
</head>

<body>
<table width="1716" height="734" border="0" align="center">
  <tr>
    <th height="184" colspan="6" scope="col"><img src="Eclipse.jpg" width="902" height="322" align="middle" /></th>
  </tr>
  <tr>
    <td height="123" colspan="6" align="center" valign="middle"><img src="open troupe.JPG" width="180" height="150" /><img src="16u Jazz Troupe.JPG" width="220" height="150" /><img src="Darcey Warburton.JPG" width="180" height="150" /><img src="12u Hip Hop Troupe.JPG" width="220" height="150" /><img src="taniqua bufton.JPG" width="180" height="150" /><img src="12u Jazz Troupe.JPG" alt="" width="200" height="150" /><img src="Cheyenne Davies.JPG" width="160" height="150" /><img src="Open Elite Troupe.JPG" alt="" width="250" height="150" /><img src="Tinies.PNG" width="90" height="150" /></td>
  </tr>
  <tr>
    <td height="41" align="center" valign="middle"><h4><strong><a href="index.html">HOME</a> </strong></h4></td>
    <td align="center" valign="middle"><h4><strong><a href="Instructors.html">INSTRUCTORS</a></strong></h4></td>
    <td align="center" valign="middle"><h4><strong><a href="Timetable &amp; Fees.html">TIMETABLE &amp; FEES</a></strong></h4></td>
    <td align="center" valign="middle"><h4><strong><a href="Events.html">EVENTS</a></strong></h4></td>
    <td align="center" valign="middle"><h4><strong><a href="Eclipse Competition Team.html">ECLIPSE COMPETITION TEAM</a></strong></h4></td>
    <td align="center" valign="middle"><h4><strong> <a href="Contact Us.html">CONTACT US </a></strong></h4></td>
  </tr>
  <tr>
    <td colspan="6" align="center" valign="middle"><table cellspacing="0" cellpadding="0">
        <tr>
          <td width="279" height="888" align="center" valign="top" bgcolor="#000000"><h3><em>Kirsty Bufton </em></h3>
            <h2><img src="../../../kirsty bufton .JPG" width="212" height="280" /></h2>
<h2> </h2>
<h2>&nbsp;</h2>
<h2>&nbsp;</h2>
<h2>&nbsp;</h2>
<h2>&nbsp;</h2>
<h2>&nbsp;</h2>
<h2>  <strong>Senior Instructors for 2021</strong></h2>
            <p> </p>
            <p> </p>
            <p> </p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>             </p>
            <p>&nbsp;</p>
          <h3>Assistant Instructors for 2021</h3></td>
          <td width="1429" colspan="6" align="left" valign="top" bgcolor="#000000"><h3><strong></strong><em>Director / Choreographer </em></h3>
            <h3><em>Vocal &amp; Dance, Jazz, Hip Hop,  Tap, Ballet, Contemporary, Musical Theatre, Lyrical, Acrobatics,  Elite Teams, Solos,  Duos, Trios.  </em></h3>
            <h4><strong> Kirsty  was trained in gymnastics from the age of 5 and accepted into the Western  Australian Institute of Sport at the age of 7, competing National and State  competitions. </strong><br />
              <strong>          </strong><br />
              <strong> After  successfully ranking first in her state championships in gymnastics at the age  of 13,  she started dancing and singing  training professionally in both whilst still doing gymnastics. </strong></h4>
            <h4><strong>Kirsty  has performed in Troupes at competitions genres include Jazz, Hiphop, Tap,  Lyrical, Contemporary, Acrobatics and in song and dance groups.</strong></h4>
            <h4><strong> Kirsty&rsquo;s  career saw her  performing at fairs, festivals, telethon, clubs and pubs  and corporate events. She has attended many workshops in Perth and also at  Brent Street in Sydney.</strong></h4>
            <h4><strong>Kirsty  became a senior instructor at the age of 15 teaching dancing,  vocal  technique classes and private lessons. She is a gifted choreographer in  acrobatic routines which saw her students compete at state  and national competitions  placing in the top 3 for Balance, Dynamic and Tempo routines.</strong></h4>
            <h4><strong>Kirsty  specialises in, Gymnastics, Jazz, Acrobatics, Tap, Singing &amp; Cheer-dance  and more. She is passionate about everything she does and has a creative  outlook to her dancing and singing.</strong></h4>
            <h4><strong> Kirsty&rsquo;s  goals are to develop and help children who share the same passion for dance and  performing that she does and build them in to the best dancers they can be.</strong></h4>
            <h4><strong>In  January 2015, Kirsty founded and opened her doors at Eclipse Dance &amp;  Performing Arts  to build a dance school  where children through to adults can have fun and enjoy themselves while  developing their skill, technique,  and passion for our incredible sport.</strong></h4>
            <h4><strong>&ldquo;I love  what i do, seeing the fun and joy on all our students faces is why i do what i  do.  We get to see and be a part of the  childrens growth through their stages of dance to become incredible athletes  and performers.</strong><br />
              <strong>                                        </strong></h4>
            <h4> </h4>
            <ol>
              <blockquote>
                <h3><strong><em>Cheyenne Davies -  Jazz, Lyrical &amp; Contemporary, Hip Hop &amp; Elite Choreography</em></strong>                </h3>
                <h3><em><strong>Mani Mae Gomes - Ballet </strong></em></h3>
                <h3><em><strong>Jaimie Robson - Jazz &amp; Elite Choreography </strong> </em></h3>
                <h3><em><strong>Keziah Erispe - Hip Hop</strong> &amp; Elite Choreography </em></h3>
                <h3><em><strong>Natalia Menna -  Acrobatics  </strong></em></h3>
                <h3><em>Ruby Thoms - Tap </em></h3>
                <h3><em>Paris Matthews - Elite Choreography &amp; Development Program</em></h3>
                <h3><em>Tahlia May - Acrobatics, Tap, Jazz, </em><em> HipHop</em> &amp; Elite Choreography </h3>
                <h3><em> </em></h3>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <h3> Ashlyn Logan, Felicity Abel,  Taylor Nowell, Taniqua Bufton, Darcey Warburton &amp; Danica Szkiela </h3>
              </blockquote>
            </ol></td>
        </tr>
        <tr>
          <td colspan="7"> </td>
        </tr>
        <tr>
          <td colspan="7"> </td>
        </tr>
      </table>
      <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>U2, 9 Abaya Street Jandakot WA </p>
    <p>9414 7794 or 0477 55 66 47</p>
    <p>admin@eclipsedance.com.au</p></td>
  </tr>
  <tr>
    <td colspan="6">&nbsp;</td>
  </tr>
</table>
</body>
</html>

